<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.astronomy.mall.module.notification.mapper.NotificationMapper">

    <!-- 统计各模块未读数量 -->
    <select id="countUnreadByModule" resultType="java.util.Map">
        SELECT
            module,
            COUNT(*) AS count
        FROM tb_notification
        WHERE user_id = #{userId}
          AND is_read = 0
        GROUP BY module
    </select>


</mapper>